body {
    background-image: url('https://dl.dropboxusercontent.com/s/cp3j1kpmpt2diye/background2.png?dl=1');
    color: #d7d4d1;
    font-family: 'Amatic SC';
}

canvas {
    margin-top: 40px;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.settings {
    /*background: red;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.settings div {
    width: 20%;
    display: inline-block;
}

.inst {
    position: fixed;
    background: #aaa49d;
    overflow-x: auto;
    font-family: 'Merienda One';
    color: #3a3c45;
    text-align: center;
    width: 800px;
    max-height: 50%;
    min-height: 20%;
    left: 50%;
    padding: 15px;
    margin-left: -400px;
    -webkit-box-shadow: -1px 13px 29px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 13px 29px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 13px 29px -6px rgba(0,0,0,0.75);
   background: -moz-linear-gradient(178deg, rgba(23,20,14,1) 0%, rgba(92,81,54,1) 3%, rgba(230,203,135,1) 7%, rgba(235,223,183,1) 92%, rgba(116,106,77,1) 96%, rgba(87,77,51,1) 97%, rgba(13,11,8,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(13,11,8,1)), color-stop(3%, rgba(87,77,51,1)), color-stop(4%, rgba(116,106,77,1)), color-stop(8%, rgba(235,223,183,1)), color-stop(93%, rgba(230,203,135,1)), color-stop(97%, rgba(92,81,54,1)), color-stop(100%, rgba(23,20,14,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(178deg, rgba(23,20,14,1) 0%, rgba(92,81,54,1) 3%, rgba(230,203,135,1) 7%, rgba(235,223,183,1) 92%, rgba(116,106,77,1) 96%, rgba(87,77,51,1) 97%, rgba(13,11,8,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(178deg, rgba(23,20,14,1) 0%, rgba(92,81,54,1) 3%, rgba(230,203,135,1) 7%, rgba(235,223,183,1) 92%, rgba(116,106,77,1) 96%, rgba(87,77,51,1) 97%, rgba(13,11,8,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(178deg, rgba(23,20,14,1) 0%, rgba(92,81,54,1) 3%, rgba(230,203,135,1) 7%, rgba(235,223,183,1) 92%, rgba(116,106,77,1) 96%, rgba(87,77,51,1) 97%, rgba(13,11,8,1) 100%); /* ie10+ */
    background: linear-gradient(272deg, rgba(23,20,14,1) 0%, rgba(92,81,54,1) 3%, rgba(230,203,135,1) 7%, rgba(235,223,183,1) 92%, rgba(116,106,77,1) 96%, rgba(87,77,51,1) 97%, rgba(13,11,8,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D0B08', endColorstr='#17140E',GradientType=1 ); /* ie6-9 */
}
.details {
    width: 78%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.inst p {
    font-size: 18px;
    color: #3a3c45;
    font-weight: bold;
}

.inst button {
    box-shadow: none;
    border: 2px solid black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0.5em;
    width: 200px;
    height: 50px;
    background: transparent;
    margin: 29px;
}

.inst button:hover {
    cursor: pointer
}

.help {
    position: relative;
    background: transparent;
    font-family: 'Amatic SC';
    color: #d7d4d1;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid #d7d4d1;
    text-align: center;
    margin-left: 400px;
}

.help:hover {
    color: white;
    cursor: pointer;
}

i {
    /*background: white;*/
}