body {
    background-image: url('https://dl.dropboxusercontent.com/s/cp3j1kpmpt2diye/background2.png?dl=1');
    color: #d7d4d1;
    font-family: 'Amatic SC';
}

canvas {
    margin-top: 40px;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.settings {
    /*background: red;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.settings div {
    width: 20%;
    display: inline-block;
}
