body {
    /*background: grey;*/
    /*background-image: url('dungeon.png')*/
    background-image: url('https://photos-1.dropbox.com/t/2/AACUDkbS5gcPevBeSreWPhQfaKp2vwLqQBbAxUi4IZc3eg/12/596040564/png/32x32/1/_/1/2/background.png/EKXCgecEGKcBIAIoAg/udr0YgBAOyedZgSWucvP6xNnR86C6CDXiZ9G4XlSokQ?size=1600x1200&size_mode=3');
}

canvas {
    margin-top: 40px;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*background-image: url('dungon.png')*/
}

div {
    color: white;
}

